@import url("./utility.css");

.topbar-container,
.hamburger-container {
  height: var(--h-topbar-container);
}

.hamburger-container {
  text-align: right;
}

::marker {
  content: "";
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-700);
}

h1 {
  font: var(--fw-bold) var(--fs-primary-heading) var(--ff-primary);
}

body {
  --fg-r-side: 1;
  --fg-sidebar: 2;
  --fb-sidebar: calc(
    100% * calc(var(--fg-r-side) / calc(var(--fg-r-side) + var(--fg-sidebar)))
  );
  --fb-sidebar-fixed: 290px;
  display: flex;
}

.side-bar {
  flex: 0 0 var(--fb-sidebar-fixed);
  background-color: var(--clr-neutral-700);
}

.side-bar > :not(dialog) * {
  color: var(--clr-primary-100);
}

.r-side {
  flex: 0 1 var(--w-page-primary);
  margin: 0 auto;
}

.page {
}

.task-form {
  display: none;
}

div.task-container {
  display: flex;
  align-items: start;
}

.page__btn-add-task {
  display: none;
}

.task-container[data-priority="p1"] {
  border: 1px solid red;
}

.task-container[data-priority="p2"] {
  border: 1px solid yellow;
}

.task-container[data-priority="p3"] {
  border: 1px solid blue;
}

.side-bar {
  display: flex;
  flex-direction: column;
  transition: margin-left var(--as-nav) ease;
}

/* overwrite utility styles */
.side-bar .btn:hover,
.side-bar .btn:hover * {
  background-color: var(--clr-neutral-600);
}

.side-bar.hidden {
  margin-left: calc(-1 * var(--fb-sidebar-fixed));
}

.btn-hamburger.nav-open {
  margin-right: 10px;
}

.btn-hamburger {
  margin-right: -90px;
  z-index: 1;
  transition: margin-right var(--as-nav) ease;
  background-color: grey;
  cursor: pointer;
}

button:hover {
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-700);
}

.f-sb {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  :root {
    --w-page-primary: 95%;
  }

  .side-bar.hidden {
    transform: translateX(-100%);
    margin-left: 0;
  }

  .side-bar {
    position: fixed;
    transition: transform var(--as-nav) ease;
    top: 0;
    bottom: 0;
    transform: translateX(0);
  }
}
