@font-face {
  font-family: "intertight";
  src: url("./fonts/intertight-variable-font.woff2") format("woff2");
}

@font-face {
  font-family: "intertight_italic";
  src: url("./fonts/intertight-italic-variable-font.woff2") format("woff2");
}

:root {
  --clr-accent-400: #9f0217;
  --clr-accent-300: linear-gradient(45deg, #ffa0a0, #ffb45b);
  --clr-primary-400: #ebebeb;
  --clr-primary-500: #e6e6e6;
  --clr-neutral-700: #121212;
  --clr-neutral-600: #1c1c1c;
  --clr-semantic-100: #ff00001f;
  --clr-semantic-200: #5c0000;
  --clr-semantic-400: #00a3ff2b;
  --clr-semantic-500: #003854;
  --clr-semantic-700: #2db10030;
  --clr-semantic-800: #336200;

  --ff-primary: "intertight", helvetica, arial;
  --ff-italics: "intertight_italic", helvetica, arial;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-light-bold: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-600: 1.25rem;
  --fs-700: 2.2rem;
  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-600);
  --fs-button: var(--fs-400);

  --h-topbar-container: 50px;

  --w-page-primary: 60%;

  --as-nav: 500ms;

  --btn-box-shadow: 0px 1px 10px #0000001a;

  --icon-sidebar: "data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='-0.000432248%20-0.349824%208%207.713'%3E%3Cpath%20d='M%200%200%20L%200%207%20C%20-0.004%207.354%20-0.001%207.351%201%207.335%20L%206.996%207.354%20C%207.992%207.379%207.987%207.374%208%207%20L%208%200%20C%207.996%20-0.359%207.991%20-0.359%207.607%20-0.346%20L%207.59%207.003%20L%202.786%207%20L%202.821%200.013%20L%202.356%200.016%20L%202.343%206.984%20L%200.414%206.996%20L%200.438%200.009%20L%207.606%200.021%20L%207.607%20-0.345%20L%200.995%20-0.334%20L%200%200%20C%200.012%20-0.323%200.033%20-0.345%201.005%20-0.334'%20fill='currentColor'/%3E%3C/svg%3E";
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
*:not(dialog) {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  9. Set default button styles
*/
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/*
  10. Set min-height to 100vh
*/

body {
  min-height: 100vh;
}

/*
  11. Set ul padding to li
*/
ul {
  padding: 0;
}
li {
  padding-left: 20px;
}

/*
  custom classes
*/
.flex {
  display: flex;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-primary-500);
  box-shadow: var(--btn-box-shadow);
}
